/* @import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600&display=swap"); */


/* for thin font - uncomment below */
/* @import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;600&display=swap"); */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Kulim Park', sans-serif;
}

body {
  font-weight: 600;
}
