.home-background {
  background: url("../../assets/images/bg3.svg");
  background-repeat: no-repeat;
  /* height: 3300px; */
}

.left {
  padding-top: 50px;
  color: #ffffff;
}

.home-content-wrapper {
  padding-top: 10rem;
}

@media screen and (max-width: 960px) {
  .left {
    text-align: center;
  }
  .home-content-wrapper {
    padding-top: 5rem;
  }
}
