.content-card {
  background-color: #ffffff;
  border-radius: 13px;
}

.text-wrapper {
  text-align: center;
  padding-top: 50px;
}

.video-wrapper {
  height: 500px;
  width: 800px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .video-wrapper {
    height: 300px;
    width: 533.33px;
  }
}
