.content-card {
  background-color: #ffffff;
  border-radius: 13px;
}

.text-wrapper {
  text-align: center;
  padding-top: 50px;
}
/* .video-content {
  width: 70%;
  height: 500px;
  background-color: aqua;
} */
