.card {
  animation: fadeIn 0.5s ease-out;
}
.faculty-image {
  border-radius: 50%;
  position: relative;
  
  /* z-index: 1; */
}

.layer {
  z-index: -1;
  position: absolute;
  top: calc(100% - 1px);
  height: 1%;
  width: 100%;
  left: 0;
  background: linear-gradient(to left, #80acf6, #4478e3);
  transition: 0.5s;
}

.card:hover .layer {
  top: 0;
  height: 100%;
  z-index: -1;
}

.over {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
