@import url("https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
  min-height: 5000px;
  width: 100%;
  font-family: "Kulim Park", sans-serif;
}

.homeSection {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  /* background-color: aqua; */
}

.left {
  padding: 0 50px;
  color: #fff;
  font-size: 1.5rem;
}

.right {
  width: 700px;
  height: 700px;
}

@media screen and (max-width: 960px) {
  .container {
    position: relative;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    position: absolute;
    text-align: center;
    top: 20%;
    z-index: 2;
  }
  .right {
    position: absolute;
    top: 25%;
    height: 400px;
    width: 400px;
  }
}
