@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600&display=swap");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kulim Park", sans-serif;
}

.container-wrapper{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle {
    width: 8px;
    height: 100px;
}
.handle1 {
    background-color: rgb(40, 121, 254);
    margin-right: 5px;
  }
.handle2 {
    background-color: rgb(79, 145, 255);
    margin-right: 5px ;
  }
.handle3 {
    background-color: rgb(119, 169, 254);
}

#carousel-wrapper {
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(19, 19, 19, 0.521);
}


.wire-svg{
    position: absolute;
    left: 0;
    right: 0;
    top: 75vh;
}