/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Footer */

.footer{
  width: 100%;
  height: 500px;
  color: white;
  padding-top: 110px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-contents{
  width: 100%;
  padding-left: 20%;
  padding-bottom: 50px;
  
}
.details{
  color : #769ddb
}

.details:hover{
  color: white;
  cursor: pointer;
}

.copyright{
  border-top: #769ddb solid 1px;
  width: 100%;
}

.credits{
  color : #769ddb;
  opacity: 0.5;
}

/* Vision and Mission */
.banner-wrapper {
  padding: 5% 10%;
  font-weight: 600;
}

/* align - center */
.align-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-tabs-nav {
  justify-content: center;
}
/* Style the buttons that are used to open the tab content */
.pilledTabs {
  
  border: none;
  outline: none;
  cursor: pointer;
  transition: 1.5s;
  /* opacity: 0.5; */

  font-size: 1.2rem;

}
.nav-link {
  color: #000 !important;
  background-color: transparent !important;
}

.nav-link:focus   {
border-bottom: 3px solid #000  !important  ;
  border-radius: 0 !important;
  opacity: 1.0 !important;
}



/* Style the tab content */
.tabcontent {
  
  /* display: none; */

  padding: 40px 30px;
  /* margin: 2rem 0; */

  margin-left: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  color: #fff;
  border-radius: 20px;
  background-image: linear-gradient(to left, #47a6ff, #0262ba);

  transition: display 5s linear;
  
}

.tabcontent h2:first-child {
  margin-bottom: 0.8rem;
}
.tabcontent h2:not(:first-child) {
  margin: 1.5rem 0 0.8rem;
}

.tabcontent > p {
  font-weight: 200;
  margin-bottom: 1rem;
}

#courseOutcome li {
  line-height: 2;
}

/* @import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600&display=swap"); */

/* for thin font - uncomment below */
/* @import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;600&display=swap"); */

/* NAVBAR  */

/* --------------------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Kulim Park", sans-serif;
}

body {
  font-weight: 600;
}

.top-navbar {
  /* background-color: #5089C6; */
  background-color: rgb(79, 145, 255);
  background: linear-gradient(90deg, #0262ba 0%, #47a6ff 60%);
  padding: 1rem 1rem;
  color: black;

  /* POSITIONED AS ABSOLUTE [HEMANTH] */
  /* position: absolute;
  top: 0;
  width: 100%; */
}

h5 {
  color: white;
  margin-left: 150px;
  margin-bottom: 10px;
  font-family: "Kulim Park", sans-serif;
}

.navbar-text {
  color: white;
  font-family: "Kulim Park", sans-serif;
  text-decoration: none;
}

.navbar-text:hover {
  color: #f0fff0;
  opacity: 90%;
}
 

/* FOOTER WAVE ANIMATION  */

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
}

footer {
  width:100vw;
  position:fixed;
  bottom:0px
}
footer div {
  background-color:#4478e3;
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
}
.arrow {
  stroke-width: .3px;
  stroke:yellow;
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}

.translucent-navbar {
  background-color: rgba(221, 220, 240, 0.3) !important  ;
  /* background-color: white !important; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px)
}

.translucent-navbar .nav-item {
  margin-right: 1rem;
  text-transform: capitalize;
}